<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Field Role in newUser.html after password -->


        <div class="form-group row ">
            <legend class="mt-4">Role</legend>
            <div class="col-sm-8 form-check">
                <th:block th:each="role : ${listRoles}">
                    <input class=" form-check-input" type="checkbox" 
                           th:field="*{roles}"
                           th:text="${role.name}"
                           th:value="${role.id}"

                           />
                    - <small> [[ ${role.description} ]]</small>
                </th:block>
            </div>
        </div>


        <div class="form-group">
            <legend class="mt-4">Roles</legend>
            <select class="form-select"  th:field="*{roles}">

                <option  th:each="role : ${listRoles}" th:text="${role.name}"
                         th:value="${role.id}" > </option>

            </select>
        </div>

        <!-- ########################################################################################## -->
        
         <!-- Code for the cancel button -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#cancelButton").on("click", function() {
                window.location = "[[@{/users}]]";
            });
        });
    </script>
    <!<!-- ############################################################# -->

    </body>
</html>
